{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> Textra.home </title>
    <link rel="stylesheet" href= {% static '/css/tailwind.css/' %}/>
</head>
<body>
    <div id="homepage">
        <div class="flex flex-wrap place-items-center">
            <div class="w-full md:w-2/3 xl:w-2/3 p-10 h-200 place-items-center">
                <div class="bg-white border-transparent shadow-xl w-full">
                    <div class="bg-gradient-to-b from-gray-300 to-gray-100 uppercase
                        text-gray-800 border-b-2 border-gray-300 p-2 w-full">
                        <h2 class="font-bold uppercase text-gray-600 hover:text-gray-700">
                            Input your social media text here!
                        </h2>
                    </div>
                    <div class="w-3/5 p-6" id = "text-input">
                        <form>
                            <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50
                                dark:bg-gray-700 dark:border-gray-600">
                                <div class="px-4 py-2 bg-white rounded-t-lg dark:bg-gray-800">
                                    <label for="comment" class="sr-only">Your text</label>
                                    <textarea id="comment" rows="4" class="w-full px-0 text-sm text-gray-900
                                        bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white
                                        dark:placeholder-gray-400" placeholder="Write a text..." required>
                                    </textarea>
                                </div>
                                <div class="flex items-center justify-between px-3 py-2 border-t
                                    dark:border-gray-600">
                                    <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs
                                        font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4
                                        focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                                        Analyse Text
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="flex flex-wrap">
            <div class="flex justify-around">
                    <card></card>
                    <card></card>
                    <card></card>
                    <card></card>
            </div>
        </div>
    </div>
</body>
</html>

<style>
body {
	background-image: url({% static '/assets/wallpaper.png/' %});
}

</style>

