{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> PowerText User Interface </title>
    <link rel="stylesheet" href= {% static '/css/tailwind.css/' %}/>
</head>
<body>
    <div id="homepage" class="p-20 py-10">
        <div class="flex flex-wrap place-items-center">
            <div class="w-full md:w-2/3 xl:w-3/5 p-6 h-200 place-items-center">
                <div class="bg-white border-transparent shadow-xl w-full">
                    <div class="bg-white border-b-4 border-blue-600 p-4 w-full">
                        <h2 class="font-bold uppercase text-black-800 text-xl hover:text-blue-800">
                            Post Input
                        </h2>
                    </div>
                    <div class="bg-white border-b-4 border-blue-600 p-4 w-full" id = "text-input">
                        {% csrf_token %}
                        <form action="" method="post" enctype="multipart/form-data">
                            <div class="w-full mb-4 border border-gray-200 rounded-lg bg-gray-50
                                dark:bg-gray-700 dark:border-gray-600">
                                <div class="px-4 py-2 bg-white dark:bg-gray-800">
                                    <label class="sr-only">Your text</label>
                                    <input type="hidden" name="form_id" value="text_submit">
                                    <textarea name="comment" rows="5" class="w-full px-0 text-sm text-gray-900
                                        bg-white border-0 dark:bg-gray-800 focus:ring-0 dark:text-white
                                        dark:placeholder-gray-400" placeholder="Write a text..." value="" required>
                                    </textarea>
                                </div>
                                <div class="flex items-center justify-between px-3 py-2 border-t
                                    dark:border-gray-600">
                                    <button type="submit" class="inline-flex items-center py-2.5 px-4 text-xs
                                        font-medium text-center text-white bg-blue-700 rounded-lg focus:ring-4
                                        focus:ring-blue-200 dark:focus:ring-blue-900 hover:bg-blue-800">
                                        Analyse Text
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="bg-white border-b-4 border-blue-600 p-4 w-full">
                    <div class="bg-white p-2 w-full">
                        <h2 class="font-bold uppercase text-xl text-black-900 hover:text-blue-800">
                            Results
                        </h2>
                    </div>
                <div>
                    Text submitted: {{ text_submitted }}
                </div><br>
                    <div>
                        <div>
                            {% if label_hate == '0' %}
                                Tag 1 Pure!
                            {% elif label_hate == '1' %}
                                Tag 1 Hate!
                            {% else %}
                                Tag 1 ?
                            {% endif %}
                        </div><br>
                        <div>
                            {% if label_private == '0' %}
                                Tag 2 Pure!
                            {% elif label_private == '1' %}
                                Tag 2 Privacy!
                            {% else %}
                                Tag 2 ?
                            {% endif %}
                        </div><br>
                        <div>
                            {% if label_sexual == '0' %}
                                Tag 3 Pure!
                            {% elif label_sexual == '1' %}
                                Tag 3 Sexy!
                            {% else %}
                                Tag 3 ?
                            {% endif %}
                        </div><br>
                        <div>
                            {% if label_imperson == '0' %}
                                Tag 4 Pure!
                            {% elif label_imperson == '1' %}
                                Tag 4 Impersonate!
                            {% else %}
                                Tag 4 ?
                            {% endif %}
                        </div><br>
                        <div>
                            {% if label_illegal == '0' %}
                                Tag 5 Pure!
                            {% elif label_illegal == '1' %}
                                Tag 5 Illegal!
                            {% else %}
                                Tag 5 ?
                            {% endif %}
                        </div><br>
                        <div>
                            {% if label_ads == '0' %}
                                Tag 6 Pure!
                            {% elif label_ads == '1' %}
                                Tag 6 Ad!
                            {% else %}
                                Tag 6 ?
                            {% endif %}
                        </div><br>
                        <div>
                            {% if label_ai == '0' %}
                                Human!
                            {% elif label_ai == '1' %}
                                AI!
                            {% else %}
                                AI ?
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<style>
body {
	background-image: url({% static '/assets/wallpaper/bg_5.jpg/' %});
}

</style>

<script>
    window.onload = function () {

        function changeImage() {
            var BackgroundImg = [
                "{% static '/assets/wallpaper/bg_1.jpg/' %}",
                "{% static '/assets/wallpaper/bg_2.jpg/' %}",
                "{% static '/assets/wallpaper/bg_3.jpg/' %}",
                "{% static '/assets/wallpaper/bg_4.jpg/' %}",
                "{% static '/assets/wallpaper/bg_5.jpg/' %}",
            ];
            var i = Math.floor((Math.random() * 5));
            document.body.style.backgroundImage = 'url("' + BackgroundImg[i] + '")';
        }
        window.setInterval(changeImage, 8000);
    }
</script>

