{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static '/css/styles.css/' %}">
  <link rel="stylesheet" href="{% static '/css/all.min.css/' %}">
  <link href="{% static '/css/tailwind.css/' %}" rel="stylesheet">
  <title>Violation Checker</title>
</head>
<body>
  <div class="App">
    <header class="App-header">
      <img src="{% static '/assets/icon.png/' %}" alt="Icon" class="app-icon" width="400" height="189.6">
      <h1>Violation Checker</h1>
        {% csrf_token %}
        <form action="" method="post" enctype="multipart/form-data">
          <div class="container">
            <div class="input-container w-full">
              <input type="hidden" name="form_id" value="text_submit">
              <textarea id="comment" name="comment" class="text-black" placeholder="Enter a sentence"></textarea>
              <button id="check-button">Check Phrase</button>
            </div>
          </div>
        </form>
        <div class="violations">

          <div class="icon-container" id="hate">
              {% if label_hate == '1' %}
                <i class="fas fa-angry" style="color: #ff4b4b"></i>
                <span class="text-red-600 font-bold text-xl">Hate/Harassment</span>
              {% elif label_hate == '0' %}
                <i class="fas fa-angry" style="color: #00ff00"></i>
                <span class="text-green-600 text-xl">Hate/Harassment</span>
              {% else %}
                <i class="fas fa-angry" style="color: #ffffff"></i>
                <span class="text-white text-xl">Hate/Harassment</span>
              {% endif %}
          </div>

          <div class="icon-container" id="authenticity">
            {% if label_ai == '1' %}
              <i class="fas fa-award fill-current text-blue-600" style="color: #ff4b4b"></i>
              <span class="text-red-600 font-bold text-xl">Authenticity</span>
            {% elif label_ai == '0' %}
              <i class="fas fa-award fill-current text-blue-600" style="color: #00ff00"></i>
              <span class="text-green-600 text-xl">Authenticity</span>
            {% else %}
              <i class="fas fa-award fill-current text-blue-600" style="color: #ffffff"></i>
              <span class="text-white text-xl">Authenticity</span>
            {% endif %}
          </div>

          <div class="icon-container" id="privacy">
            {% if label_private == '1' %}
              <i class="fas fa-user-shield" style="color: #ff4b4b"></i>
              <span class="text-red-600 font-bold text-xl">Privacy</span>
            {% elif label_private == '0' %}
              <i class="fas fa-user-shield" style="color: #00ff00"></i>
              <span class="text-green-600 text-xl">Privacy</span>
            {% else %}
              <i class="fas fa-user-shield" style="color: #ffffff"></i>
              <span class="text-white text-xl">Privacy</span>
            {% endif %}
          </div>

          <div class="icon-container" id="sexual">
            {% if label_sexual == '1' %}
              <i class="fas fa-envelope-open-text" style="color: #ff4b4b"></i>
              <span class="text-red-600 font-bold text-xl">Sexual</span>
            {% elif label_sexual == '0' %}
              <i class="fas fa-envelope-open-text" style="color: #00ff00"></i>
              <span class="text-green-600 text-xl">Sexual</span>
            {% else %}
              <i class="fas fa-envelope-open-text" style="color: #ffffff"></i>
              <span class="text-white text-xl">Sexual</span>
            {% endif %}
          </div>

          <div class="icon-container" id="impersonation">
            {% if label_imperson == '1' %}
              <i class="fas fa-user-secret" style="color: #ff4b4b"></i>
              <span class="text-red-600 font-bold text-xl">Impersonation</span>
            {% elif label_imperson == '0' %}
              <i class="fas fa-user-secret" style="color: #00ff00"></i>
              <span class="text-green-600 text-xl">Impersonation</span>
            {% else %}
              <i class="fas fa-user-secret" style="color: #ffffff"></i>
              <span class="text-white text-xl">Impersonation</span>
            {% endif %}
          </div>

          <div class="icon-container" id="illegal">
            {% if label_illegal == '1' %}
              <i class="fas fa-ban" style="color: #ff4b4b"></i>
              <span class="text-red-600 font-bold text-xl">Illegal</span>
            {% elif label_illegal == '0' %}
              <i class="fas fa-ban" style="color: #00ff00"></i>
              <span class="text-green-600 text-xl">Illegal</span>
            {% else %}
              <i class="fas fa-ban" style="color: #ffffff"></i>
              <span class="text-white text-xl">Illegal</span>
            {% endif %}
          </div>
          
          <div class="icon-container" id="advertisement">
            {% if label_ads == '1' %}
              <i class="fas fa-ad" style="color: #ff4b4b"></i>
              <span class="text-red-600 font-bold text-xl">Advertisement</span>
            {% elif label_ads == '0' %}
              <i class="fas fa-ad" style="color: #00ff00"></i>
              <span class="text-green-600 text-xl">Advertisement</span>
            {% else %}
              <i class="fas fa-ad" style="color: #ffffff"></i>
              <span class="text-white text-xl">Advertisement</span>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
  </div>
  <script src="{% static '/js/app.js/' %}"></script>
</body>
</html>